asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==3.2
enum34==1.1.6
idna==2.6
ipaddress==1.0.19
numpy==1.14.0
pycodestyle==2.3.1
pycparser==2.18
pyOpenSSL==17.5.0
pysolr==3.7.0
python-dateutil==2.6.1
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
urllib3==1.24.2
watson-developer-cloud==1.2.0
unicodecsv==0.14.1
